# Artificial Neural Network - Predict energy output of CCPP

## Importing the libraries

In [2]:
import numpy as np
import pandas as pd 
import tensorflow as tf

In [15]:
tf.__version__, pd.__version__, np.__version__

('2.16.2', '2.2.3', '1.26.4')

## Data Preprocessing

### Importing the dataset

In [9]:
dataset = pd.read_excel('Folds5x2_pp.xlsx')
dataset.head()

      AT      V       AP     RH      PE
0  14.96  41.76  1024.07  73.17  463.26
1  25.18  62.96  1020.04  59.08  444.37
2   5.11  39.40  1012.16  92.14  488.56
3  20.86  57.32  1010.24  76.64  446.48
4  10.82  37.50  1009.23  96.62  473.90

### Splitting into independent (matrix) and dependent variable (vector)

In [20]:
X = dataset.iloc[:,:-1]
y = dataset.iloc[:,-1]
X, y, type(X), type(y)

(         AT      V       AP     RH
 0     14.96  41.76  1024.07  73.17
 1     25.18  62.96  1020.04  59.08
 2      5.11  39.40  1012.16  92.14
 3     20.86  57.32  1010.24  76.64
 4     10.82  37.50  1009.23  96.62
 ...     ...    ...      ...    ...
 9563  16.65  49.69  1014.01  91.00
 9564  13.19  39.18  1023.67  66.78
 9565  31.32  74.33  1012.92  36.48
 9566  24.48  69.45  1013.86  62.39
 9567  21.60  62.52  1017.23  67.87

 [9568 rows x 4 columns],
 0       463.26
 1       444.37
 2       488.56
 3       446.48
 4       473.90
          ...
 9563    460.03
 9564    469.62
 9565    429.57
 9566    435.74
 9567    453.28
 Name: PE, Length: 9568, dtype: float64,
 pandas.core.frame.DataFrame,
 pandas.core.series.Series)

### Spliitting the dataset into Training and Test set

In [17]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)
X_train, X_test

(         AT      V       AP     RH
 5487  21.92  49.02  1009.29  88.56
 3522  11.09  40.43  1025.47  74.97
 6916   8.49  39.61  1021.05  87.74
 7544  11.43  44.78  1013.43  82.45
 7600  17.28  39.99  1007.09  74.25
 ...     ...    ...      ...    ...
 5734  23.39  61.87  1010.35  48.91
 5191  11.63  40.55  1022.89  87.12
 5390  27.79  69.23  1012.86  45.71
 860   12.26  41.50  1014.87  89.41
 7270  11.75  40.55  1018.09  97.70

 [7654 rows x 4 columns],
          AT      V       AP     RH
 2513  19.64  48.06  1014.81  74.96
 9411  28.26  69.23  1013.01  42.10
 8745  27.98  67.17  1007.32  75.29
 9085  28.64  69.23  1013.11  37.13
 4950   9.34  38.08  1019.56  67.74
 ...     ...    ...      ...    ...
 7204  29.06  64.96  1000.88  62.07
 1599   9.87  40.81  1017.17  84.25
 5697   8.02  39.04  1018.49  68.07
 350   26.48  69.14  1009.31  84.11
 6210  15.34  71.14  1019.79  77.56

 [1914 rows x 4 columns])

In [18]:
y_train, y_test

(5487    443.31
 3522    490.96
 6916    483.94
 7544    471.09
 7600    463.28
          ...
 5734    444.03
 5191    474.67
 5390    435.06
 860     471.13
 7270    472.43
 Name: PE, Length: 7654, dtype: float64,
 2513    455.27
 9411    436.31
 8745    440.68
 9085    434.40
 4950    482.06
          ...
 7204    430.24
 1599    473.20
 5697    479.53
 350     435.76
 6210    457.10
 Name: PE, Length: 1914, dtype: float64)